extends ../layouts/default

block content
    section(data-ng-controller='TopicsController', data-ng-init='find()')
        ul.articles.unstyled
            li(data-ng-repeat='topic in topics')
                h2 {{topic.name}}
                div {{topic.level}}